body {
    margin: 0;
}

h1, h2 {
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Tangerine';
    font-weight: 100;
    transition: opacity 0.5s ease-in-out;
}

#infoText {
    color: white;
    text-align: left;
    width: 37%;
    top: 50%;
    right: 2em;
    position: fixed;
    line-height: 1.2;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: clamp(1rem, 3vh, 3em);
    font-family: 'Raleway';
    font-weight: 100;
}

#title {
    position: fixed;
    font-size: clamp(2rem, 6vh, 6em);
    top: 0.5em;
}

#artist {
    position: fixed;
    font-size: clamp(1rem, 3vh, 3em);
    color: gray;
    top: 4em;
}